body {
  overflow: hidden;
  background-color: #eee;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  touch-action: none;
  user-select: none;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.scene {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.car {
  position: absolute;
}

.car-body {
  position: absolute;
  top: -8px;
  left: -4px;
  width: 8px;
  height: 16px;
  border-radius: 2px;
  background-color: #888;
}

.car-body.shot {
  opacity: .5;
}

.car-body.red {
  background-color: #ff3300;
}

.car-name {
  position: absolute;
  top: 20px;
  left: 0;
  font-size: .625rem;
  color: #999;
  transform: translate(-50%, -50%);
}

.bullet {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 2px;
  height: 2px;
  border-radius: 1px;
  background-color: #222;
}

.buttons {
  position: absolute;
  left: 0;
  top: 0;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: .5rem;
  font-size: .75rem;
}
.name {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.name-bg {
  height: 100%;
  background-color: rgba(0, 0, 0, .75);
}
.name form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 1rem;
  border-radius: .25rem;
}
.name form input {
  font: inherit;
  padding: .5rem;
}
.name form button {
  font: inherit;
  padding: .5rem;
  margin-left: .5rem;
}